.blog-posts {
  .article-list-item {
    font-family: Gilroy,sans-serif;
    transition: box-shadow 0.3s;
  
    &:hover {
      box-shadow: 0 14px 32px 0 rgb(0 0 0 / 15%);
    }
  
    .post-image-wrapper {
      height: 0;
      position: relative;
      padding-bottom: 85%;
  
      img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: 0;
        top: 0;
      }
    }
  
    .blog-post-title {
      font-weight: 700;
  
      a {
        color: black !important;
      }
    }
  
    p {
      text-align: left;
    }
  
    .post-meta {
      font-size: 80%;
    }
  }  
}

.template-article {
  .breadcrumbs {
    margin-bottom: 0;
  }

  .blog-post {
    .featured-image-wrapper {
      height: 0;
      position: relative;
      padding-bottom: 45%;
  
      img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: 0;
        top: 0;
        object-position: top;
      }
    }
  }
}
