.klaviyo-form {
  input {
  //   @extend .form-control;
  
  //   // display: block !important;
  //   width: 100% !important;
  //   // height: $input-height !important;
  //   padding: $input-padding-y $input-padding-x !important;
  //   font-family: $input-font-family !important;
  //   font-weight: $input-font-weight !important;
  //   color: $input-color !important;
  //   background-color: $input-bg !important;
  //   background-clip: padding-box;
    // border: $input-border-width solid $input-border-color !important;
    border-radius: $input-border-radius !important;
  //   height: $input-height-lg !important;
  //   padding: $input-padding-y-lg $input-padding-x-lg;
  //   font-size: $input-font-size-lg !important;
  //   line-height: $input-line-height-lg !important;
  
  //   &::placeholder {
  //     color: $input-placeholder-color !important;
  //     opacity: 1;
  //   }

  //   &:disabled,
  //   &[readonly] {
  //     background-color: $input-disabled-bg !important;
  //     opacity: 1;
  //   }
  }

  button {
    margin-top: 2rem;
    // display: inline-block !important;
    font-family: $btn-font-family !important;
    font-weight: 700 !important;
    color: white !important;
    // text-align: center !important;
    // vertical-align: middle !important;
    // user-select: none !important;
    background-color: #dda46e !important;
    border: 2px solid #dda46e !important;
    // padding: $btn-padding-y $btn-padding-x !important;

    // @extend .btn--round;
    padding: 1rem 2rem !important;
  }
}
