.modal-welcome {
  color: #dca472;
}
.modal-select-begin {
  color: #dca472;
  font-size: 30px;
  text-align: center;
}
.modal-image {
  float: left;
  margin-left:10px;
  width: 45%;
}
.modal-image img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.modal a.close-modal {
  background-image: none!important;
}
