.timer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff1e1;

  .time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;

    .number {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 30px;
      line-height: 1em;
      position: relative;
    }

    .unit {
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1em;
    }

    &:not(:last-of-type) {
      .number::after {
        content: ":";
        position: absolute;
        right: 0;
        transform: translateX(50%);
      }
    }
  }
}
