div#already_added p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
}

div#already_added {
  background: transparent;
  box-shadow: none;
}
div#already_added button.cta-btn.btn.tan-btn {
  margin: 0 0 10px;
}
.step-two-main h2, .step_one_wrapper h2 {
font-size: 30px;
text-align: center;
color: #ba976f;
font-weight: 500;
}
.step-two-main .step_count,.step_one_wrapper .step_count {
top: 30px;
}
.step-two-main {
background: #DBB998;
position: relative;
padding: 60px 0 30px;
display: inline-block;
width: 100%;
box-shadow: 0px 0px 8px 2px #ccc;
}
span.step_count {
width: 80%;
margin: 0 auto;
display: inline-block;
height: 1px;
background: #ba976f;
position: absolute;
left: 0;
right: 0;
top: 20px;
}

span.step_count span {
width: 25px;
height: 25px;
border: 1px solid;
display: flex;
display: -ms-flexbox;
display: -webkit-flex; 
align-items: center;
justify-content: center;
border-radius: 100%;
margin: 0px auto;
z-index: 9;
background: #efe5d6;
color: #ba976f;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
font-weight: 500;
}


.checked_div_label label {
float: left;
display: flex;
display: -ms-flexbox;
display: -webkit-flex; 
flex-direction: column;
background: #EFE5D6;
margin: 0 15px;
padding: 20px;
border-radius: 4px;
cursor: pointer;
position: relative;
}
.checked_div_label label .round_bubble {
position: absolute;
top: -15%;    
left: -9%;
background: #ae8762;
color: #fff;
width: 50px;
height: 50px;
border-radius: 50%;
font-size: 10px;
display: flex;
display: -ms-flexbox;
display: -webkit-flex; 
align-items: center;
justify-content: center;
text-align: center;
font-weight: 500;
line-height: normal;
}

.checked_div_label {
display: flex;
display: -ms-flexbox;
display: -webkit-flex; 
justify-content: center;
margin-top: 30px;
}
.checked_div_label h5 {
font-size: 18px;
font-weight: 500;
}

.checked_div_label p {
margin: 0;
font-size: 15px;
}

.checked_div_label input {
display: none;
}
.checked_div_label label.checked_div {
box-shadow: 0px 0px 10px 6px #b27e42;
background: #f7f5f2;
}
.step-two-center {
display: inline-block;
width: 100%;
margin: 0px 0 30px;
box-shadow: 0px 0px 8px 2px #ccc;
padding: 20px 0 0;
}
.stc-item h4 strong {
font-weight: inherit;
max-width: 100%;
float: left;
}
.step-two-c-icon {
margin: 0 auto;
display: block;
width: 130px;
overflow: hidden;
}

.stc-content {
display: flex;
display: -ms-flexbox;
display: -webkit-flex; 
margin: 20px 0 0;
flex-wrap: wrap;
}

.stc-item {
width: 50%;
display: flex;
display: -ms-flexbox;
display: -webkit-flex; 
flex-direction: column;
float: left;
padding: 20px 50px;
}

.stc-item h4 {
font-weight: 500;
font-size: 20px;
}

.stc-item h4 span {
float: right;
}

.stc-item ul {
margin: 0;
padding-left: 20px;
list-style: none;
}

.stc-item ul li {
margin: 5px 0;
font-size: 16px;
position: relative;
}

.stc-item ul li:before {
content: '';
width: 5px;
height: 5px;
position: absolute;
left: -15px;
background: #333;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
}


.step-two-bottom {
display: inline-block;
width: 100%;
margin: 30px 0;
box-shadow: 0px 0px 8px 2px #ccc;
padding: 0px 0 0;
}

.stb-header {
text-align: center;
width: 100%;
padding: 40px 10px;
background: #AE8762;
}

.stb-header h3 {
font-weight: 500;
color: #fff;
}

.stb-main {
display: inline-block;
width: 100%;
padding: 20px 0 0;
}

.stb-main h4 {
color: #C5AC8A;
font-weight: 500;
text-align: center;
margin-bottom: 20px;
font-size: 25px;
}

.stb-items {
display: flex;
display: -ms-flexbox;
display: -webkit-flex; 
flex-direction: column;
padding: 0px 30px 20px;
}

.stb-item {
position: relative;
padding-top: 50px;
margin-bottom: 10px;
}

.stb-item p {
max-width: 50%;
margin: 0 auto;
font-size: 14px;
}
.step_cta .cta-btn.btn.tan-btn {
background: #ae8762 !important;
box-shadow: 0px 0px 5px 1px #ae8762;
visibility: visible !important;
}
.subscription-only .product-wrap {
width: 100%;
padding: 0;
}
.subscription-only .input-checkbox-title {
padding: 0;
border: 0;
background: transparent !important;
position: relative;
color: #333 !important;
padding-left: 40px;
}
.subscription-only .input-checkbox-title:before {
position: absolute;
content: '';
width: 20px;
height: 20px;
border: 1px solid;
left: 0px;
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 2px;
padding-bottom: 5px;
background: #efe5d6;
color: #ba976f;
}
.subscription-only .input-checkbox-wrapper {
margin: 0;
width: 50%;
padding-left: 15%;
}
.subscription-only .product-quantity {
display: none;
}
.subscription-only .input-checkbox:checked+.input-checkbox-title:before {
content: '\f00c';
font-family: "Font Awesome 5 Free", sans-serif;
text-align: center;
font-size: 22px;
}
.step_one_wrapper {
background: #DBB998;
position: relative;
padding: 60px 0 30px;
display: inline-block;
width: 100%;
box-shadow: 0px 0px 8px 2px #ccc;  
margin-bottom: 30px;
}
.so-subscription-images {
display: flex;
width: 100%;
margin: 30px 0 0;
}

.so-subscription-image {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.so-subscription-options .inline-field-wrapper {
width: 100%;
display: inline-block;
margin: 0;
}
.so-subscription-options .inline-field-wrapper .input-field-title {
  margin: 10px 30px 20px 15%;
  position: relative;
  border-bottom: 1px solid;
  padding: 10px 0 5px;
  border-color: #ba976f;
  font-weight: 500;
}


.main-title {
  text-align: center;
  color: #ba976f;
  font-weight: 500;
  margin-bottom: 30px;
}
.step_cta.continue_cta {
  margin: 30px 0 0;
}
.step-two-main > p {
  margin: 20px 15px 0;
}
@media screen and (max-width: 767px){
.step-two-main > p {
  margin: -10px auto 0;
  width: 70%;
  display: block;
  font-size: 12px;
}

.step-two-main h2, .step_one_wrapper h2 {
  font-size: 20px;
}

.so-subscription-options .inline-field-wrapper .input-field-title {
  margin: 10px 10px 20px;
}

.subscription-only .input-checkbox-wrapper {
  padding-left: 10px;
}

.subscription-only .input-checkbox-title {
  padding-left: 30px;
}
.step_cta .cta-btn.btn.tan-btn {
  font-size: 13px;
}
.stb-items {
  padding: 0px 10px 20px;
}
.stc-content {
  display: inline-block;
  width: 100%;
  position: relative;
}
.stc-item h4 {
  font-size: 17px;
}
.stc-item ul li {
  font-size: 15px;
}
.checked_div_label label {
  width: 70%;
  display: block;
  margin: 0 auto 30px;
  float: none;
}
.checked_div_label {
  display: inline-block;
  width: 100%;
}
.checked_div_label label .round_bubble {
  left: -35px;
  right: unset;
  top: 30px;
}
.checked_div_label p {
  font-size: 13px;
}
.checked_div_label h5 {
  font-size: 15px;
}
.stc-item {
  width: 100%;
  padding: 20px 20px;
}
.stc-item:before {
  content: '';
  background: #ae8762;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  margin: -20px 0 0px;
}


.stb-item p {
  max-width: 80%;
}
}

@mixin breakpoint($point) {
@if $point == xl {
  @media (min-width: 1281px) { @content; }
}

@if $point == l {
  @media (max-width: 1280px) { @content; }
}

@if $point == m {
  @media (max-width: 1020px) { @content; }
}

@if $point == m-up {
  @media (min-width: 1020px) { @content; }
}

@if $point == s-up {
  @media (min-width: 1020px) { @content; }
}

@if $point == s {
  @media (max-width: 720px) { @content; }
}

@if $point == s-up {
  @media (min-width: 721px) { @content; }
}
}

.cart-header {
#free_shipping_alert {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}  
}

#free_shipping_alert {
font-weight: 700;
text-align: center;
margin-top: 1rem;

@include breakpoint(m-up) {
  margin-top: 0;
}

p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  font-family: "Gilroy", sans-serif;
  color: #B28D4C;
}

#progressbar {
  height: 15px;
  width: 100%;
  position: relative;
  // border: 1px solid #333f48;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.05);

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    // background: #333f48;
    background: green;
  }
}
}

.cart-item-product {
.cart-image {
  height: 200px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.cart-item-price {
  .cart-item-total {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    .has-discount {
      &.money--discounted {
        color: red;
      }

      &.money--full-price {
        margin-right: 10px;
        text-decoration: line-through;
        font-size: 1rem;
      }
    }
  }
}
}


.module-pads {
.product-options {
  .inline-field-wrapper.js-required {
    margin-top: 1rem;
  }

  .input-field-title.product-options-title {
    text-transform: capitalize;
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    color: inherit;
  }

  .p-option {
    label.input-checkbox-wrapper {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      display: flex;
      flex-direction: column-reverse;

      .boost-text {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        text-align: center;
      }
    }
    
    .input-checkbox:checked + .count-button {
      background: currentColor !important;
      pointer-events: none;

      .text {
        color: white !important;
      }
    }

    .count-button {
      position: relative;
      padding: 0.6rem 1rem;
      font-size: 0.9rem;
    }
  }
}
}

.subscribe-save-list {
li {
  padding-right: 1rem !important;
}

@media screen and (min-width: 767px){
  column-count: 2;  
}
}

.pad-size-options {
.btn {
  flex: 1;

  @media screen and (min-width: 767px){
    flex: auto
  }
}
}

.size-guide-trigger {
text-decoration: underline;
margin-left: 10px;
font-size: 0.8rem;
font-weight: 500;
color: #7c878e;
font-family: "Gilroy", sans-serif;
cursor: pointer;
}

.modal#size_guide {
max-width: 700px;
text-align: center;
}

#shopify-section-product__as-seen-on {
padding-top: 1.5rem;
}

.as-seen-on-logos {
max-width: 500px;
margin: auto;
display: flex;
padding: 1.5rem;
align-items: center;
background: #F8F9FA;
border-radius: 8px;
}

.as-seen-on-logos__wrapper {
display: flex;
opacity: 0.5;
flex: 1;
}

.as-seen-on-logos__header {
text-align: center;
font-weight: 700;
color: #706EAA !important;
font-size: 1.2rem;
margin: 0;
margin-bottom: 1rem;
margin-right: 20px;
}

.as-seen-on-logos__logo {
flex: 1;
width: auto;
display: flex;
align-items: center;
max-height: 40px;

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
}
