.collection-pads-extended-footer {
	font-family: Gilroy, sans-serif;
	background: rgba(0, 0, 0, .5);
	position: relative;
	padding: 6rem 0;
	margin-bottom: -1rem
}

.collection-pads-extended-footer .bkg-image {
	top: 0;
	position: absolute;
	z-index: -10;
	height: 100%;
	object-fit: cover;
	width: 100%
}

.collection-pads-extended-footer .nexwear-logo {
	width: 18rem;
	margin: 0 auto 3rem auto
}

.collection-pads-extended-footer p {
	color: #fff;
	max-width: 800px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	line-height: 1.8
}
