.product-pads-intro-section .pad-features-block {
	background-color: transparent;
	color: #efab7b;
	border-radius: 0;
	overflow: visible
}

@media (max-width:720px) {
	.product-pads-intro-section .pad-features-block {
		margin-bottom: 0
	}
}

.product-pads-intro-section .pad-features-block .features-image {
	border-radius: 30px;
	position: relative;
	z-index: 1
}

.product-pads-intro-section .pad-features-block .features-image .features-image__buffer {
	padding-top: 20px;
	padding-bottom: 20px
}

@media (max-width:720px) {
	.product-pads-intro-section .pad-features-block .features-image .features-image__buffer {
		padding: 0 20px
	}
}

.product-pads-intro-section .pad-features-block .features-image .features-image__buffer img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	padding-right: 0;
	box-shadow: 0 3px 6px #00000029;
	border-radius: 30px
}

.product-pads-intro-section .pad-features-block .features-content {
	position: relative;
	background-color: #fff;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px
}

@media (max-width:720px) {
	.product-pads-intro-section .pad-features-block .features-content {
		margin: 0 15px;
		justify-content: center
	}
}

.product-pads-intro-section .pad-features-block .features-content::before {
	content: "";
	height: 100%;
	width: 200px;
	position: absolute;
	left: 0;
	transform: translateX(-100%);
	background-color: #fff;
	z-index: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px
}

@media (max-width:720px) {
	.product-pads-intro-section .pad-features-block .features-content::before {
		border-bottom-left-radius: 0;
		border-top-right-radius: 10px;
		transform: translateY(-100%);
		height: 100px;
		width: 100%;
		top: 0
	}
}

.product-pads-intro-section .pad-features-block .features-content::after {
	content: "";
	height: 100%;
	width: calc(100% + 200px);
	position: absolute;
	left: 0;
	transform: translateX(-200px);
	box-shadow: 0 3px 6px #00000029;
	z-index: 0;
	border-radius: 10px
}

@media (max-width:720px) {
	.product-pads-intro-section .pad-features-block .features-content::after {
		transform: translateY(-100px);
		height: calc(100% + 100px);
		width: 100%;
		top: 0
	}
}

.product-pads-intro-section .pad-features-block ul li {
	display: flex;
	align-items: center
}

.product-pads-intro-section .pad-features-block ul li .list-item-title {
	color: #dda46e;
	margin-bottom: 0
}

.product-pads-intro-section {
	font-family: Gilroy, sans-serif;
	position: relative;
	padding-top: 75px;
	overflow: hidden;
}

.product-pads-intro-section:before {
	content: "";
	position: absolute;
	top: 0;
	left: -25%;
	background: #fff6e6;
	width: 150%;
	height: 200px;
	border-radius: 100%;
	z-index: 0
}

.product-pads-intro-section .intro-wrapper {
	background: #fff6e6;
	position: relative;
	padding-bottom: 3rem;

  &.pad-bottom-large {
    @include media-breakpoint-up(md) {
      padding-bottom: 17rem;
    }

    .container {
      padding-top: 4rem;

      @include media-breakpoint-up(md) {
        padding-top: 0;
      } 
    }
  }
  
  .underwear-model {
    display: none;
    top: 0;
    bottom: 0;
    width: 25rem;
    height: auto;
    transform: translateX(40%);
    z-index: 0;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.product-pads-intro-section .container {
	position: relative;
}

.product-pads-intro-section .container .nexwear-logo {
	width: 18rem
}

.product-pads-intro-section .container .content {
	max-width: 800px;
	font-weight: 700;
	margin: auto;
	text-align: center;
	color: #b46e2c;
	line-height: 1.8
}

.product-pads-intro-section .container .pad-features-block {
	// background-color: #efab7b;
	color: #fff;
	border-radius: 30px;
	margin-top: 4rem;
	margin-bottom: 4rem;
	overflow: hidden;
}

.product-pads-intro-section .container .pad-features-block img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	padding-right: inherit
}

.product-pads-intro-section .container .pad-features-block ul {
	padding: 2rem 0;
	align-self: center
}

.product-pads-intro-section .container .pad-features-block ul li {
	padding-left: 4rem;
	position: relative
}

.product-pads-intro-section .container .pad-features-block ul li:not(:last-of-type) {
	padding-bottom: 1rem
}

.product-pads-intro-section .container .pad-features-block ul li .list-item-title {
	font-weight: 700;
	color: #fff
}

.product-pads-intro-section .container .pad-features-block ul li .icon {
	border: 3px solid #efab7b;
	width: 3rem;
	height: 3rem;
	box-sizing: content-box;
	background: #fff;
	border-radius: 50px;
	position: absolute;
	left: 0
}

.product-pads-intro-section .container .pad-features-block ul li .icon svg {
	width: 3rem;
	height: 3rem;
	padding: .5rem;
  box-sizing: border-box;
}

.product-pads-intro-section .pad-features-block img {
	padding-right: 0
}

.product-pads-intro-section .pad-features-block ul {
	// transform: translateX(-45px)
}

@media (max-width:720px) {
	.product-pads-intro-section .pad-features-block ul {
		transform: translateX(0);
		padding-left: 15px;
		padding-right: 15px
	}
}

.product-pads-intro-section .pouch-group {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 20rem;
	height: auto;
	object-fit: contain;
	transform: translate(-50%, 50%)
}
