.product-pads-intro-section {
  .b {
    fill: var(--pad-color);
    fill-rule: evenodd;
  }

  .features-content .icon {
    border-color: var(--pad-color) !important;
  }

  .features-content .icon ~ div,
  h5.list-item-title {
    color: white !important;
  }
}
