// settings
@import './variables';

// global
@import 'global/theme';

// bootstrap
@import "autoload/bootstrap.scss";

// global
@import 'global/custom';
@import 'global/nexwear';
@import 'global/typography';
@import 'global/utilities';

// // templates
@import 'templates/collection';
@import 'templates/cart';
@import 'templates/page';
@import 'templates/faq';
@import 'templates/giveaway';

// // components
@import "components/buttons";
@import "components/hero-split";
@import "components/blog-card";
@import "components/pagination";
@import "components/timer";
@import "components/forms";
@import "components/home-popup";
@import "components/hero-slideshow";

// // sections
@import "sections/giveaway-hero";
@import "sections/pads-product-module";
@import "sections/product-pads-intro";
@import "sections/as-seen-on";
@import "sections/collection-pads-header";
@import "sections/collection-pads-intro";
@import "sections/collection-pads-reviews";
@import "sections/collection-pads-products";
@import "sections/collection-pads-extended-footer";

@import "autoload/jquery-modal.scss";
