.page-default {
  .container {
    max-width: 800px;

    h2 + h3 {
      margin-top: 3rem;
    }

    p + h3 {
      margin-top: 3rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
